Validation when challenge_validation_disable

Hi,
During a acme test, I face one issue with https://simple-acme.com/ when I try to disable the validation. The acme client have an option for that: https://simple-acme.com/reference/plugins/validation/none , but expect a `valid` challenge on the requests.

But it's look like acme2certifier don't manage the validation (when the config `challenge_validation_disable : True` is active) in the function `_handle_challenge_validation_request` but on the `_perform_challenge_validation`. So the challenge is in pending during one "retry".
Since the challenge is in `pending` and not directly `valid`, the client stop.

Do you know what is the rights steps for that ? Is acme2certifier or simple-acme who need a fix ?

Best regards,
Azlux


Hi,
I ran a quick test, and you currently cannot combine these two features. Let me explain why — the a2c documentation may need some improvements in this area.

When `challenge_validation_disable: True` is set, a2c still expects the client to respond to a challenge as described in [RFC 8555 8.2](https://datatracker.ietf.org/doc/html/rfc8555#section-8.2), however a2c won't validate the challenge and immediately marks status as `valid`.  With simple-acme, this means: use **any validation plugin other than none**, and the request should pass.

The `none` plugin refers to the concept of pre-authorized domains as defined in [RFC 8555 section 7.4.1](https://datatracker.ietf.org/doc/html/rfc8555#section-7.4.1). a2c does not implement this feature as described in the RFC. Instead, you can configure [pre-validated domains](https://github.com/grindsa/acme2certifier/blob/devel/docs/identifier_prevalidation.md) in either in `acme_cfg`or as part of [eab_profiling feature](https://github.com/grindsa/acme2certifier/blob/devel/docs/eab_profiling.md).  If a2c receives a request for a domain listed as prevalidated, it will automatically set the authorization object to valid — which is what simple-acme seems to expect.  

I tested this quickly, and adding the following to acme_srv.cfg allowed me to issue a certificate for `foo-01.bar.local`:

```cfg
[Authorization]
prevalidated_domainlist: ["foo-01.bar.local", "*.bar1.local"]
```
I hope this clarifies the behavior. If you have any further questions, feel free to reach out.

/G

The explanations are perfectly clear. And I now understand the difference.
Maybe having `prevalidated_domainlist=['*']` is the solution ? Currently, the pre-validation compare strict domain entries, no regex here ([source domain_utils.py](https://github.com/grindsa/acme2certifier/blob/master/acme_srv/helpers/domain_utils.py#L70))

For my part, I'm looking for a client that lets me request domains or wildcards certificate easily without challenges (I do the requests check on the ca_handler).
And since the challenges are validated by the client BEFORE the request is sent to the server, it's always a hassle, especially for wildcards that can only be set up via DNS (for simple domain, it's easy, I just need to set the http-01 challenge manually in /tmp)

I think `prevalidated_domainlist=['*']` would be the easiest way forward. I can create a small patch based on v42.1 . If you are willing to test, please describe your environment (container, rpm, debian, manual-installation). 

Currently I do a manual-installation (because it's the only way I have to code my own ca_handler), and think I will keep it manual in the futur too :D

I create with 81945eca340a96eaa8d0410070d10224861acd66 a small patch on top of v0.42.1. It should be enough to just replace the `authorization.py` on your system with [the one from fix_wildcard_dv branch](81945eca340a96eaa8d0410070d10224861acd66).

**Important**:  `prevalidated_domainlist` in acme_srv.cfg must be exactly `["*"]`.

Feel free to give it a try and let me know how it works.

/G.

yes, it's all good.
I must admit you make a really good work here.